# Database Connection URL (SQLite for local dev fallback or PostgreSQL for production)
DATABASE_URL="file:./dev.db"

# Session JWT Authentication Secret
AUTH_SECRET="cadde-store-super-secret-jwt-key-stage-08"

# Next.js Base URL
NEXTAUTH_URL="http://localhost:3000"
